@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'CherryBomb';
  src: url('./assets/fonts/CherryBombOne.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cherrybomb: 'CherryBomb', san-serif;
}

@layer utilities {
  .bg-landing {
    background-color: hsl(89, 30%, 14%);
    background-image: radial-gradient(
      circle farthest-side at center top,
      hsl(80, 30%, 26%) 0%,
      hsl(89, 30%, 14%) 100%
    );
  }

  .bg-landing-mobile {
    background-image: radial-gradient(
      circle farthest-side at center top,
      hsl(80, 30%, 26%) 0%,
      hsl(89, 30%, 14%) 70%
    );
  }
}
